# Needed for Jupyter
ipykernel
jupyterlab

# Libraries for plotting
bokeh
seaborn
matplotlib

# Data/vector processing
numpy == 1.24
pandas

# Network data libraries
networkx
spaghetti
ndlib

# Provenance libraries
prov
provstore-api
